@use './fonts.css';
@use './reset-styles.css';

:root {
  --base-unit-size: 15px;
}

/* colors */
$highlight: #ffcccc;

$main-color: #2c3a47;
$secondary-color: #e1f9f4;
$highlight-color: #ffcccc;
$large-font-size: 1.4rem;
$font-size: 1rem;
$small-font-size: 0.8rem;
$fade-color: #e6e6e6;
$gray: #4b4b4b;

/* icons */
$icon-size: 1.2rem;
$small-icon-size: 1rem;
$smaller-icon-size: 0.8rem;

/* layout */
// size
$extra-small-size: 0.8rem;
$smaller-size: 1rem;
$small-size: 2rem;
$common-size: 3rem;
$large-size: 4rem;
// radius
$common-border-radius: 2rem;
$small-border-radius: 0.5rem;
$smaller-border-radius: 0.25rem;
// padding
$large-padding: 4rem;
$common-padding: 2rem;
$small-padding: 2rem;
$smaller-padding: 0.5rem;
$extra-small-padding: 0.25rem;

:root {
  box-sizing: border-box;

  font-family: 'Ubuntu';
  font-weight: 500;
  color: $main-color;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* HEADER */
header {
  /* background-color: var(--secondary-color); */
  height: min-content;
  padding: $small-padding;
  background-color: $secondary-color;
  logo {
    display: inline-block;

    font-weight: 500;
    letter-spacing: -1px;
    font-size: $large-font-size;
  }
}

/* MAIN CONTENT */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $small-padding;
  padding: $large-padding;
  border-radius: $small-border-radius;
  box-shadow: 0px 0px 10px $fade-color;
  // background-color: $white-color;
  .players.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: $common-size;
  }
  section.player {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $common-size;
  }
  section > .option.computer {
    display: flex;
  }
  button {
    width: 30%;
  }
}
.container.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $common-size;

  .components {
    display: flex;
  }

  .gameboard.container {
    // display: flex;
    width: 30vw;
    aspect-ratio: 1/1;
    > div {
      display: grid;
    }
    .square {
      border: 0.5px dashed rgb(162, 162, 162);
    }
  }
  .ships.container {
    $border-width: 2px;
    $base-size: calc(var(--base-unit-size) - $border-width);
    $ship-color: $highlight-color;
    $border-color: $gray;
    $border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    filter: brightness(115%);
    .ship:hover {
      background-color: $border-color;
    }
    .ship {
      background-color: $ship-color;
      border: $border-width solid $border-color;
      border-radius: $border-radius;
      user-select: none;
    }
    .destroyer {
      height: $base-size;
      width: calc($base-size * 2);
    }
    .submarine {
      height: $base-size;
      width: calc($base-size * 3);
    }
    .cruiser {
      height: $base-size;
      width: calc($base-size * 3);
    }
    .battleship {
      height: $base-size;
      width: calc($base-size * 4);
    }
    .carrier {
      height: $base-size;
      width: calc($base-size * 5);
    }
  }
}
/* FOOTER */
footer {
  /* background-color: var(--secondary-color); */
  padding: $smaller-padding;
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
}

/* COMMON ELEMENTS */

input {
  border-radius: $small-border-radius;
  border: 1px solid $fade-color;
  padding: $smaller-padding;
}
.fade {
  opacity: 0.3;
}
.hide {
  display: none !important;
}
.hover {
  background-color: #2c3a47;
}
.place {
  background-color: #bceeff;
}
.invalid-place {
  background-color: #ff2222;
}
.used {
  opacity: 0.5;
}
.checked {
  background-color: #0b3c6d;
}
.placed {
  background-color: #264a56;
}
.hit {
  background-color: #f9a19b;
}
.miss {
  background-color: #95e0fd;
}
.winner {
  box-shadow: 0px 0px 1px 10px #d9ffc6;
}
